body{
    background-image: url(../../assets/bg-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#paiDeTodos{
    height: 100vh;
    display: flex;
    justify-content: center;
}

#filhaDoPai{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}

#filhaDoPai > .camposInformacoes{
    margin: 5px;
}

#filhaDoPai > .camposInformacoes > label > span{
    font-size: 18px;
}

#divBotton{
    display: flex;
    justify-content: center;
    margin: 10px;
}

#divBotton > button{
    width: 190px;
    height: 35px;
    border-radius: 8px;
    border: none;
}

#divBotton > button:hover{
    background-image: linear-gradient(rgb(245, 7, 253),#230349);
    box-shadow: 1px 1px 1px black;
    cursor: pointer;
}

#divBotton > button > a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
