{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'loginstyle.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap" rel="stylesheet">

    <title>AltoLogin</title>
</head>
<body>
    <form action="">

        <div>
            <img src="" alt="">
        </div>
        
        <div id="pai">
            <div class="nome">
                <label for="nome">Nome:</label><br>
                <input placeholder="Informe seu nome:" type="text" class="input" required>
            </div>

            <div class="nome">
                <label for="email">Email:</label><br>
                <input placeholder="Informe seu email:" type="email" class="input" required>
            </div>

            <div class="nome">
                <label for="senha">Senha:</label><br>
                <input placeholder="Digite sua senha:" type="password" class="input" required>
            </div>

            <div id="buttonLogar">
                <button class="botão">Entrar</button>
            </div>
        </div>
    </form>
</body>
</html>